.put-card{
  margin-left: 153px;
}

.put-card-text{
  text-align: left;
}

.put-card{
  border: 3px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 370px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1px;
}

.card {
  border: 3px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 300px;
}

.card-image {
  width: 50%;
  height: auto;
  margin-left: 65px;
}

.button {
  border: 2px solid #000000;
  border-radius: 20px;
  background-color: #b9d0f9b4;
  margin: 10px;
  padding: 7px;
  width: auto;
}

.prev-next-button{
  border-radius: 20px;
  padding: 5px;
  margin: 2px;
  text-align: center;
}

.add-product-button {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #b4cffdb4;
  padding: 5px;
  width: auto;
}

.input {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  width: 90%;
}

.input2 {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  width: 60%;
}

.input3 {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  width: 20%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}